html, body {
    text-align: center;
    overflow: hidden;
}

.bumperContainer {
    position: absolute;
    top: 20vh;
    width: calc(100vw - 18px);
    transition: 2s;
}

.bumper {
    height: 20%;
    transition: 1s;
}

.loginItem {
    position: relative;
    display: none;
    left: 30%;
    width: calc(40% - 18px);
    padding: 10px;
    margin-top: 18px;
    background-color: #e5e5e5;
    border-radius: 10px;
}

.loginInput {
    width: calc(50% - 30px);
}

.bumperLoaderAnimation {
    position: absolute;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(104, 202, 242, 0) 100%);
    transform: rotate(135deg);
}

.login {
    display: none;
}

.accessibilityOptionsButton {
    display: none;
    bottom: -55px;
}

.copyrightInformation {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: -1;
    display: none;
}

@media (max-width: 700px) {
    .loginItem {
        left: 0;
        width: calc(100% - 18px);
    }

    .loginInput {
        width: calc(100% - 30px);
    }
}

@media (max-width: 400px) {
    .copyrightInformation {
        font-size: 10px;
    }
}

@media(max-height: 650px) {
    .bumper {
        height: 60px;
    }
}