body {
    text-align: center;
    overflow: hidden;
}

.bumperContainer {
    position: absolute;
    top: 20vh;
    width: calc(100vw - 18px);
    transition: 2s;
}

.bumper {
    height: 20%;
    transition: 1s;
}

.loginItem {
    position: relative;
    display: none;
    left: 30%;
    width: calc(40% - 18px);
    padding: 10px;
    margin-top: 18px;
    background-color: #e5e5e5;
    border-radius: 10px;
}

.loginInput {
    width: calc(50% - 30px);
}

.bumperLoaderAnimation {
    position: absolute;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.8) 60%, rgba(104, 202, 242, 0) 100%);
    transform: rotate(135deg);
}

.login {
    display: none;
}

.accessibilityOptionsButton {
    position: absolute;
    display: none;
    bottom: -55px;
    left: 10px;
    padding: 10px;
    padding-bottom: 15px;
    background-color: #d2d2d2;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    z-index: 99997;
    transition: 1s;
    outline: none;
}

.accessibilityOptionsButton:focus {
    background-color: #e5e5e5;
}

.accessibilityOptionsMenu {
    position: absolute;
    bottom: -120px;
    left: 10px;
    width: calc(100vw - 40px);
    height: 100px;
    padding: 10px;
    background-color: #e5e5e5;
    border-radius: 10px;
    text-align: left;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    z-index: 99998;
    transition: 1s;
}

.accessibilityOptionsClose {
    position: fixed;
    right: 20px;
}

.accessibilityGroup {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.accessibilityGroupItem {
    display: inline-block;
    width: 80px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    vertical-align: top;
}

.copyrightInformation {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: -1;
    display: none;
}

@media (max-width: 700px) {
    .loginItem {
        left: 0;
        width: calc(100% - 18px);
    }

    .loginInput {
        width: calc(100% - 30px);
    }
}

@media (max-width: 400px) {
    .copyrightInformation {
        font-size: 10px;
    }
}

@media(max-height: 650px) {
    .bumper {
        height: 60px;
    }
}