* {
    font-family: "Lato", sans-serif;
}

a {
    color: #168bd8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.noLink {
    color: unset;
}

a.noLink:hover {
    text-decoration: none;
}

input {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    border: none;
    background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    transition: 0.5s;
}

input:focus {
    outline: none;
}

button {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    border: none;
    background-color: #168bd8;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color: #00d2ff;
}

button.secondary {
    background-color: #00d2ff;
    color: black;
}

button.secondary:hover {
    background-color: #168bd8;
}

.title {
    font-family: "Arvo", slab, sans-serif;
}

.accessibilityOptionsButton {
    position: fixed;
    bottom: -5px;
    left: 10px;
    padding: 10px;
    padding-bottom: 15px;
    background-color: #d2d2d2;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    z-index: 99997;
    transition: 1s;
}

.accessibilityOptionsButton:hover {
    background-color: #e5e5e5;
}

.accessibilityOptionsMenu {
    position: fixed;
    display: none;
    bottom: -120px;
    left: 10px;
    width: calc(100vw - 40px);
    height: 100px;
    padding: 10px;
    background-color: #e5e5e5;
    border-radius: 10px;
    text-align: left;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    z-index: 99998;
    transition: 1s;
}

.accessibilityOptionsClose {
    position: fixed;
    right: 20px;
}

.accessibilityGroup {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.accessibilityGroupItem {
    display: inline-block;
    width: 80px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    vertical-align: top;
}

.accessibilityOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0);
    z-index: 99999;
}
